html {
    box-sizing: border-box;
    font-family: 'Oxanium', cursive;
    scroll-behavior: smooth;
  }

  .button {
    padding: 10px 30px 10px;
    text-decoration: none;
    color: #fff;
    background: #212327;
    border-radius: 5px;
    border: none;
    font-size: 20px;
    font-weight: bold;
    opacity: 0.9;
    display: inline-block;
  }
  
  .button:hover {
    opacity: 1;
  }

  h1{
      font-size: 56pt;
  }

  *, *:before, *:after {
    box-sizing: inherit;
  }

  .panels {
    min-height: 100vh;
    overflow: hidden;
    display: flex;
  }

  .col-md-6{
      margin: 10px;
  }

  .col-md-4{
    padding: 10px;
  }

  .card{
    padding: 5px;
    border: 1px solid #212327;
    margin-left: 10px;
    margin-right: 10px;
  }
  .panel {
    margin-top: 25px;
    margin-right: 25px;
    margin-left: 25px;
    background: lightgray;
    color: #212327;
    text-align: center;     
    /* Safari transitionend event.propertyName === flex */
    /* Chrome + FF transitionend event.propertyName === flex-grow */
    font-size: 40px;
    background-size: cover;
    background-position: center;
    flex: 1;
    justify-content: center;
    display: flex;
    flex-direction: column;
  }

  .panel > *:first-child { transform: translateY(-100%); }
  .panel.open-active > *:first-child { transform: translateY(0); }
  .panel > *:last-child { transform: translateY(100%); }
  .panel.open-active > *:last-child { transform: translateY(0); }

  .panel p {
    text-transform: uppercase;
    font-family: 'Oxanium', cursive;
    text-shadow: 0 0 4px rgba(0, 0, 0, 0.72), 0 0 14px rgba(0, 0, 0, 0.45);
    font-size: 20vw;
  }
  
  .panel p:nth-child(2) {
    font-size: 4em;
  }

  .panel.open {
    flex: 5;
    font-size: 40px;
  }
  
  @media only screen and (max-width: 600px) {
    .panel p {
      font-size: 1em;
    }
  }

body {
	font-family: 'Oxanium', cursive;
	background-color: #212327;
	color: #aaa;
	padding: 0px;
    margin: 0px;
    text-align: center;
}

.jumbotron{
    color: #212327;
}

.flexbox {
	display: flex;
}

#chartdiv {
	flex: 1;
	height: 100vh;
	float: left;
}

#list {
	padding: 0.5em;
	flex: 0 0 500px;
	height: 100vh;
	float: left;
	border-left: 1px solid #eee;
	box-sizing: border-box;
	overflow: auto;
}

table.dataTable tbody tr {
	background-color: inherit;
}

td.value {
	text-align: right;
}

table.dataTable.row-border tbody th, table.dataTable.row-border tbody td, table.dataTable.display tbody th, table.dataTable.display tbody td {
	border-top: 1px solid #555;
}

table.dataTable.order-column tbody tr>.sorting_1, table.dataTable.order-column tbody tr>.sorting_2, table.dataTable.order-column tbody tr>.sorting_3, table.dataTable.display tbody tr>.sorting_1, table.dataTable.display tbody tr>.sorting_2, table.dataTable.display tbody tr>.sorting_3 {
	background-color: #35373A;
}

table.dataTable tbody>tr.selected, table.dataTable tbody>tr>.selected {
	background-color: #0F0F0F;
	color: #ff8726;
}

table.dataTable.hover tbody tr:hover, table.dataTable.display tbody tr:hover {
	background-color: #1B1B1B;
	color: #ff8726;
}

table.dataTable.hover tbody>tr.selected:hover, table.dataTable.hover tbody>tr>.selected:hover, table.dataTable.display tbody>tr.selected:hover, table.dataTable.display tbody>tr>.selected:hover {
	background-color: #1B1B1B;
	color: #ff8726;
}

table.dataTable.order-column tbody>tr.selected>.sorting_1, table.dataTable.order-column tbody>tr.selected>.sorting_2, table.dataTable.order-column tbody>tr.selected>.sorting_3, table.dataTable.order-column tbody>tr>.selected, table.dataTable.display tbody>tr.selected>.sorting_1, table.dataTable.display tbody>tr.selected>.sorting_2, table.dataTable.display tbody>tr.selected>.sorting_3, table.dataTable.display tbody>tr>.selected {
	background-color: #0F0F0F;
}

table.dataTable.display tbody>tr.selected:hover>.sorting_1, table.dataTable.order-column.hover tbody>tr.selected:hover>.sorting_1 {
	background-color: #1B1B1B;
}

table.dataTable.display tbody tr:hover>.sorting_1, table.dataTable.order-column.hover tbody tr:hover>.sorting_1 {
	background-color: #1B1B1B;
}

@media screen and (max-width: 1000px) {
	#list {
		display: none;
	}
}