<table id="areas" class="compact hover order-column row-border">
    <thead>
    <tr>
        <th>Country/State</th>
        <th>Confirmed</th>
        <th>Deaths</th>
        <th>Recovered</th>
    </tr>
    </thead>
    <tbody>
    </tbody>
</table>