<CoolPanel>
    <h1>COVID-19 Real time data</h1>
    <h2>Here you will be able to see data and statistics about COVID-19 from all around the world</h2>
    <h3>And learn how has the virus progressed and some other stuff</h3>
    <br>
    <Row>
        <Col4>
            <Card><h2>Global cases</h2></Card>
        </Col4>
        <Col4>
            <Card><h2>Global deaths</h2></Card>
        </Col4>
        <Col4>
            <Card><h2>Global recoveries</h2></Card>
        </Col4>
    </Row>
</CoolPanel>
<CoolFlexbox>
    <CountryTable>
    </CountryTable>
</CoolFlexbox>

<script>
    
</script>
