<Jumbotron>
    <h1>COVID-19 Real time data</h1>      
    <p>Here you will be able to see data and statistics about COVID-19 from all around the world</p>
</Jumbotron>
<CoolFlexbox>
    <CountryTable>
    </CountryTable>
</CoolFlexbox>
